@import "./node_modules/codemirror/lib/codemirror.css";


/*! CSS reset from benfrain/app-reset */
*,:after,:before{box-sizing:inherit}html{box-sizing:border-box}
*{user-select:none;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent}
[contenteditable],input[type]{user-select:text}body,h1,h2,h3,h4,h5,h6,p{margin:0;font-size:1rem;font-weight:400}
a{text-decoration:none;color:inherit}b{font-weight:400}em,i{font-style:normal}a:focus,input:focus{outline:0}
fieldset,input{appearance:none;border:0;padding:0;margin:0;min-width:0;font-size:1rem;font-family:inherit}
input::-ms-clear{display:none}input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{appearance:none}
svg{display:inline-flex}img{max-width:100%;display:block}
a:hover,a:focus;a:active,button:active,button:focus,:focus{outline:0}

/* hilite: #F15743 */

html {
  color: white;
  font: caption;
  padding: 0px;
}
body {
	  background: #161e21;
	  background-image: url(../img/blur-bg.jpg);
	  background-size: cover;
		font-family: 'Orkney';
}
a {
  text-decoration: none;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

h2 {
	font-size: 20px;
}

#main {
	margin: 20px
}



header {
	background: #fff;
	position: fixed;
	top:0;
	left:0;
	width:calc(100% - 40px);
  padding: 0 4em 0 2em;
  margin: 20px;
  height: 80px;
  overflow: hidden;
  z-index:10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .site-logo {
  display: inline-block;
  display: flex;
  align-items: center;
}

header .site-logo h1 {
	display: inline-block;
	color:black;
	font-size: 2.25em;
	line-height: 0.05;
}

header .site-logo h1 > span {
	color: #F15743;
}

header .site-logo .logo {
	margin-right: 20px;
}

header h2 {
	display: inline-block;
	color:black;
	line-height: 0.05;
}

.statusMessage {
	position: absolute;
	top: 128px;
	left: 50%;
	transform: translateX(-50%);
	background: #F15743;
	color: white;
	padding: 10px;
	z-index: 20;
	font-size: 16px;
}

.rangeslider-container {
	display: flex;
	background: rgba(255,255,255,0.4);
	height: 128px;
	flex-direction: column;
	justify-content: center;
	padding:20px 40px;
	
}

.rangeslider-container-title {
	position: relative;
	top: 20px;
	font-size: 20px;

}
	
.rangeslider-value {
	display: inline-block;
	position: relative;
	top: 30px;
	font-size: 40px;
	color: black;
	
}

.app-content {
	margin-top: 80px;
}

footer {
  margin: 4em auto;
  padding: 2em;
  text-align: center;
  max-width: 800px;
  width: 100%;
  border: 1px solid orange;
}

footer p {
  line-height: 1.2em;
  margin: 0 0 1em 0;
}

.not-found {
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;
  text-align: center;
  width: 100%;
}

.not-found h1 {
  font-size: 3em;
  font-weight: bold;
}

.not-found h2 {
  font-size: 2em;
  font-weight: bold;
}

.main-pane {
	position:relative;
	margin: 100px 0 0 200px;
}

.home .athletes-selector {
  clear: both;
  padding: 2em;
  margin-left: 200px;
}


.home .ReactCodeMirror {
	float:left;
	width: 50%;
	height: 500px;
	background: rgba(255,255,255,0.2);
}

.home .outputPane {
	float:left;
	width:50%;
	height: 500px;
	background: rgba(255,255,255,0.15);
	border: none;
	color: white;
	font-family: monospace;
	font-size: 1rem;
	padding: 4px 0;

}

button {
	height: 80px;
	display: inline-block;
	background: #F15743;
	border: none;
	position: relative;
	font-family: 'Orkney', sans-serif;
	text-transform: uppercase;
}
.btn-text {
	padding: 0 50px;
	color: white;
	font-size: 20px;
}

.btn-icon {
	width: 80px;
}

.btn-icon:disabled {
	opacity: 0.6;
}

.btn-generate {
	position: relative;
	left: 50%;
	transform: translate(-100%);
}

.btn-copy,
.btn-download {
	float: right;
	margin-left: 2px;
}

.btn-icon {
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center center;
	color: transparent;
}
.btn-icon:hover:before {
	opacity:1;
}
.btn-icon:before {
	color: white;
	background: black;
	position:absolute;
	top: -33px;
	left:0;
	right:0;
	margin:0 auto;
	padding: 10px 0;
	opacity:0;
	text-align: center;
	transition: opacity 0.4s;
}

.btn-download {
	background-image: url(../img/icon-download.svg);
}
.btn-download:before {
	content:'DOWNLOAD';
}
.btn-copy {
	background-image: url(../img/icon-copy.svg);
}
.btn-copy:before {
	content:'COPY';
}

nav.main-menu {
	position:fixed;
	width: 200px;
  text-align: center;
  background: rgba(0,0,0,0.4);
}

nav.main-menu a {
	display:block;
  font-size: 1.5em;
  padding: 1.2em 0 0 0;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  height: 64px;
}

nav.main-menu a.active {
  color: #030303;
  text-decoration: none;
  background: #F15743;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 96% 50%, 100% 60%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 40%, 96% 50%, 100% 60%, 100% 100%, 0 100%);
}

.athlete {
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin-left: 200px;
  max-width: 800px;
  width: 100%;
}

.athlete header {
  background: #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;

}


.athlete .medals li {
  list-style: none;
}

.navigateBack {
  font-size: 1.6em;
  padding: 2em;
  text-align: center;
  text-decoration: none;
}




/* slider */
input[type=range] {
	margin: 0 auto 50px auto;

	display: block;
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 500px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 500px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 0px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    background: #F15743;
    margin-top: -30px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 500px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #21cae1;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 500px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #21cae1;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}


/*...... Settings Page .......*/

dl dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}
dl dd {
	margin-left: 180px;
}


